@{
    ViewData["Title"] = "Grounded";
}

<div class="text-center">
    <h1 class="display-4">🌱 Grounded 🌿</h1>
    <h3>How are you feeling?</h3>

    <select>
      @foreach (Resource resource in Model)
      {
        <option><a href="/Resources/Details/@(resource.ResourceId)">@resource.ResourceName</option>
      }
    </select>

</div>