<style>
  body {
    background-image: url(https://wallpapercave.com/wp/wp7762149.jpg);
    background-size: cover;
}
</style>
@{
    ViewData["Title"] = "Grounded";
}

<div class="text-center">
  <div class="background">
    <h2 class="display-4">A Space to Ground Yourself</h2>
    <br>
    <br>
    <br>
    <h3>Our goal is to help you improve your health and happiness.</h3>
    <br>
    <br>
    <h3><b>How are you feeling?</b></h3>
  </div>

@foreach(Resource resource in Model)
{
  <div id="@(resource.ResourceName)">
  <a href="/Resources/Details/@(resource.ResourceId)" class="emotion">@resource.ResourceName</a>
  </div>
}