<div class="offset-md-3 col-md-6">
@{
    ViewData["Title"] = "Grounded";
}

<div class="text-center">
    <h1 class="display-4">🌱 Grounded 🌿</h1>
    <br>
    <br>
    <h3>How are you feeling?</h3>

@foreach(Resource resource in Model)
{
  <div id="@(resource.ResourceName)">
  <a href="/Resources/Details/@(resource.ResourceId)">@resource.ResourceName</a>
  </div>
}
</div>

<img class="Home-Page-Image" height=400px; width=auto; src="https://wallpapercave.com/wp/wp7762149.jpg" alt="Tree Roots in the Forest">